{% extends "pks/base.html" %}
{% load i18n %}

{% block pks_content %}
<form class="navbar-form" action="/pks/lookup" method="get">
  <div class="input-prepend input-append">
    <span class="add-on"><i class="icon-search"></i></span>
    <input class="search-query" type="text" name="search" placeholder="name, udid2, …" autocomplete="off" data-provide="typeahead" data-items="4" data-source='[""{% for key in keys %},"{{key.name}}","{{key.email}}","{{key.comment}}"{% endfor %}]' />
    <button type="submit" class="btn">Search</button>
  </div>
</form>
{% endblock pks_content %}
